<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h2>Register Complaint</h2>

    <a href="{% url 'map' %}"> view all complaints</a>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <input type="text" name="title" placeholder="Title" required><br><br>
    <textarea name="description" placeholder="Description"></textarea><br><br>

    <!-- Camera -->
    <video id="video" width="400" autoplay></video><br><br>

    <button type="button" onclick="capture()">Capture Photo</button><br><br>

    <canvas id="canvas" style="display:none;"></canvas>

    <input type="hidden" name="photo_data" id="photo_data">
    <input type="hidden" name="latitude" id="latitude">
    <input type="hidden" name="longitude" id="longitude">

    <button type="button" onclick="getLocationAndSubmit(this.form)">
        Submit Complaint
    </button>
</form>

<script>
const video = document.getElementById('video');
let stream;

// Open Camera
navigator.mediaDevices.getUserMedia({ video: true })
.then(s => {
    stream = s;
    video.srcObject = stream;
})
.catch(err => {
    alert("Camera access denied!");
});

// Capture Photo
function capture() {
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');

    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    context.drawImage(video, 0, 0);

    const imageData = canvas.toDataURL('image/png');
    document.getElementById('photo_data').value = imageData;

    alert("Photo Captured!");

    // Stop camera after capture
    stream.getTracks().forEach(track => track.stop());
}

// Get Location Then Submit
function getLocationAndSubmit(form) {

    if (!document.getElementById("photo_data").value) {
        alert("Please capture photo first!");
        return;
    }

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function(position) {
                document.getElementById("latitude").value = position.coords.latitude;
                document.getElementById("longitude").value = position.coords.longitude;
                form.submit();
            },
            function(error) {
                alert("Please enable location to submit complaint.");
            }
        );
    } else {
        alert("Geolocation not supported.");
    }
}
</script>